<mat-toolbar color="primary">
  <span> {{title}} </span>
  <span class="header-spacer"></span>
  <ng-container *ngIf="_auth.isLoggedIn$ | async as user; else authButtons">
    <span>Usuario {{ $any(user)?.displayName }} inicio sesión</span>
  </ng-container>
</mat-toolbar>

<main class="content mat-app-background">
  <router-outlet></router-outlet>
</main>

<ng-template #authButtons>
  <a routerLink="/iniciosesion" routerLinkActive="active" mat-button>Inicio de Sesion</a>
  <a routerLink="/registro" routerLinkActive="active" mat-button>Registro</a>
</ng-template>
