<app-form-container title = "Crea una cuenta">
  <form [formGroup] = "form" class = "form" (submit) = "signUp()">
    <mat-form-field class = "form-field">
      <mat-label>Usuario</mat-label>
      <input
        type = "text"
        matInput
        formControlName = "displayName"
        placeholder = "Display Name"
      />
      <mat-error *ngIf = "form.controls['displayName'].hasError('minlength')"
        >Nombre es muy corto</mat-error
      >
    </mat-form-field>
    <mat-form-field class = "form-field">
      <mat-label>Correo</mat-label>
      <input
        type = "email"
        matInput
        formControlName = "email"
        placeholder = "email"
      />
      <mat-error *ngIf = "form.controls['email'].hasError('email')"
        >Ingrese un correo valido</mat-error
      >
    </mat-form-field>
    <mat-form-field class = "form-field">
      <mat-label>Contraseña</mat-label>
      <input
        type = "password"
        matInput
        formControlName = "password"
        placeholder = "Password"
      />
      <mat-error *ngIf = "form.controls['password'].hasError('minlength')"
        >Contraseña muy corta</mat-error
      >
    </mat-form-field>

    <button mat-raised-button color = "accent" [disabled] = "form.invalid">
      Crear cuenta
    </button>
    <a routerLink = "/iniciosesion" class = "mat-caption goto-link"
      >Tienes una cuenta? <strong>Ir a Inicio de sesion</strong></a
    >
  </form>
</app-form-container>
